<%= form_with model: @user, local: true do |form| %>

  <p>
    <%= form.label :email %>
    <%= form.text_field :email, id: :email %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password, id: :password %>
  </p>

  <p>
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, id: :password_confirmation %>
  </p>
  <%= form.submit 'Enter' %>
<% end %>
