<h1><%= t('.header') %></h1>
<%= render 'shared/errors', resource: @test %>
<table class="table">
  <tr class="table-header">
    <th class="sort-by-title pointer">
      <%= t('.name') %>
      <%=octicon 'arrow-up',class: 'text-success hide' %>
        <%=octicon 'arrow-down',class: 'text-success hide' %>
    </th>
    <th><%= t('.category') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions') %></th>
    <th colspan="2", align="center" > <%= t('.actions') %></th>
  </tr>
<%=render @tests%>
</table>

<%= link_to  t('.create_test'), new_admin_test_path %>
